<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  
    <ion-item text-center>
      <button ion-button (click)="startRecord()" large ><ion-icon name="mic" large ></ion-icon></button>
    </ion-item>    
    <ion-item text-center>
      <button ion-button (click)="stopRecord()" large ><ion-icon name="pause" large ></ion-icon></button>
    </ion-item> 
    <ion-item text-center>
      <button ion-button (click)="startPlay()" large ><ion-icon name="play" large ></ion-icon></button>
    </ion-item>
    <ion-item text-center>
      <button ion-button (click)="getFileContentAsBase64()" large  >Show Base 64:</button>
    </ion-item>  

</ion-content>