<!--
  Generated template for the CadastroCondominioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
      <ion-label color="primary" floating>Cnpj:</ion-label>
      <ion-input type="text" [(ngModel)]="condominio.cnpj"></ion-input>
    </ion-item>
   <ion-item>
      <ion-label color="primary" floating>Nome:</ion-label>
      <ion-input type="text" [(ngModel)]="condominio.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Cep:</ion-label>
      <ion-input type="text" [(ngModel)]="condominio.cep"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Estado</ion-label>
      <ion-select [(ngModel)]="condominio.estado">
        <ion-option value="SP">SP</ion-option>
        <ion-option value="RJ">RJ</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Cidade:</ion-label>
      <ion-input type="text" [(ngModel)]="condominio.cidade"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Bairro:</ion-label>
      <ion-input type="text" [(ngModel)]="condominio.bairro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Rua:</ion-label>
      <ion-input type="text" [(ngModel)]="condominio.rua"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Numero:</ion-label>
      <ion-input type="number" [(ngModel)]="condominio.numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Complemento</ion-label>             
      <ion-input type="text" [(ngModel)]="condominio.complemento"></ion-input>
    </ion-item>
    
    <ion-item>
      <button ion-button (click)="realizarAcao()">{{textoAcao}}</button>
    </ion-item>    
</ion-content>
