<nav class="navbar navbar-default">
  <div class="container">
 
    <a class="navbar-brand" href="#">EasyHealth</a>
    
    <div class="" id="">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['Monitoracoes']">Monitoracoes</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>