<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PortControl</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content>
   <ion-grid>
     <ion-card (click)="autenticacao()"> 
        <ion-row>
          <ion-col col-2>
            <img style="max-height:50px; width: auto; margin-top: 5px;"src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png">
          </ion-col>

          <ion-col col-10>
              <h2 style="margin-top: 2px;">Nome: Pedro Vinicius Ferreira</h2>
              <h2 style="margin-top: 2px;">CPF: 123.456.789-01</h2>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
</ion-content>


