<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button text-center (click)="iniciaConversa()">Iniciar Conversa</button>
</ion-content>