<div class="container">       
        <div class="alert alert-danger" role="alert">
            <h2 class="text-center">Pacientes em estado grave</h2>
        </div>
        
        <table class="table text-center">
        <thead>
            <tr role="row">
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let paciente of pacientes">
                <tr *ngIf="paciente.status == 'URGENT'" role="row">
                    <td class="sorting_1">{{paciente.name}}</td>
                    <td class="">{{paciente.cpf}}</td>
                    <td><a (click)="send(order)" class="btn btn-primary">Selecionar</a></td>
                </tr>
            </ng-container>
        </tbody>
        </table>

        <div class="alert alert-primary" role="alert">
            <h2 class="text-center">Pacientes em estado normal</h2>
        </div>
        
        <table class="table text-center">
        <thead>
            <tr role="row">
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let paciente of pacientes">
                <tr *ngIf="paciente.status == 'NORMAL'" role="row">
                    <td class="sorting_1">{{paciente.name}}</td>
                    <td class="">{{paciente.cpf}}</td>
                    <td><a (click)="send(order)" class="btn btn-primary">Selecionar</a></td>
                </tr>
            </ng-container>
        </tbody>
        </table>
</div>