<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Condominio</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content padding >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull to refresh"
       refreshingSpinner="circles"
       refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> 
  
  <ion-item>
    <button ion-button full (click)="cadastrar()">Cadastrar</button>
    </ion-item>  

  <ion-list>
    <ion-item *ngFor="let condominio of condominios" (click)="abrirOpcoes($event,condominio)">
      <h2>{{condominio.nome}}</h2>
      <p>{{condominio.cnpj}}</p>
    </ion-item>
  </ion-list>
</ion-content>
